body {
  background-color: black;
  color: white
  margin: 0 10%;
  font-family: sans-serif;
}
p {
  color: white
} 
h1 {
  background-color: black;
  color: white;
  text-align: center;
  font-family: serif;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #57b1dc;
  margin-top: 30px;
}
