#header-background{
  width: 100%;
  height: auto;
}
body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
p {
  color: white;
} 
h1 {
  background-color: black;
  color: white;
  text-align: center;
  font-family: serif;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 30px;
}
h2 {
  background-color: black;
  color: white;
  text-align: center;
  font-family: serif;
  font-weight: normal;
  margin-top: 30px;
}

h3 {
  background-color: black;
  color: white;
  text-align: center;
  font-family: serif;
  font-weight: normal;
  margin-top: 30px;
}
