#header-background{
  width: 100%;
  height: auto;
}
img {
 background-color: black; 
 padding: 20px;
}
body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
p {
  color: white;
} 
h1 {
  background-color: black;
  color: white;
  text-align: center;
  font-family: serif;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 50px;
}
h2 {
  background-color: black;
  color: white;
  text-align: center;
  font-family: serif;
  font-weight: normal;
  margin-top: 40px;
}

h3 {
  background-color: black;
  color: white;
  text-align: center;
  font-family: serif;
  font-weight: normal;
  margin-top: 30px;
}
table, th, td {     /*modifies text within the nav table */
  background-color: black;
  border: none;
  font-family: "Bookman Old Style"; font-size: 24px; font-style: normal; font-variant: small-caps; font-weight: 700; line-height: 26.4px;
}
